.site-layout-background {
  background-color: #fff;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  cursor: pointer;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

textarea {
  resize: none;
}
